@font-face {
	font-family: 'OpenSansExtraBold';
    src: url('fonts/OpenSansExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemiBold';
    src: url('fonts/OpenSansSemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'OpenSansLight';
    src: url('fonts/OpenSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url('fonts/OpenSansItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;    
}
@font-face {
    font-family: 'LatoReg';
    src: url('fonts/LatoReg.woff') format('woff');
    font-weight: normal;
    font-style: normal;    
}
